asgiref==3.11.1
dj-database-url==0.5.0
Django==3.2.25
django-environ==0.8.1
django-filter==23.5
django-widget-tweaks==1.4.8
gunicorn==21.2.0
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
PyJWT==2.4.0
pytz==2020.1
sqlparse==0.3.1
typing_extensions==4.15.0
tzdata==2025.2
watchdog==6.0.0
whitenoise==6.11.0
django-allauth==0.54.0
cloudinary
django-cloudinary-storage